<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TestCodeMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.TestCode">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="note" property="note" />
    </resultMap>

    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT * FROM test_code WHERE code = #{code}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM test_code
    </select>
</mapper>